{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-7 left-rail">
      {% block info %}
      <h1 class=name>{{ members.name}}</h1>
      <h2 class= subtitles>{{ members.instruments }}</h2>
      <h3 class= subtitles>{{ members.birthdate }}</h3> 
      <h4 class= subtitles>{{ members.birthplace }}</h4>

      <p class=text>{{ members.text | safe}}</p>
      {% endblock %}
    </div>
    <div class="col-sm-5">
      {% block story %}
      <img src="img/members/{{ members.image }}" class= "img-fluid">
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
