<nav class="navbar navbar-expand-lg navbar-inverse">
  <a class="navbar-brand" href="index.html">Queen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="dropdown">
  <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Member Bios
  </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="freddie-mercury.html">Freddie Mercury</a>
      <a class="dropdown-item" href="brian-may.html">Brian May</a>
      <a class="dropdown-item" href="roger-taylor.html">Roger Taylor</a>
      <a class="dropdown-item" href="john-deacon.html">John Deacon</a>
     </div>
 </div>
</nav>
