.media {
padding-top: 30%;
  img {
    max-width: 50%;
  }

}

.title {
  font-family: 'Syncopate', sans-serif;
}

.discography {
  padding-bottom: 0;
  padding-top: 5%;
  font-family: 'Syncopate', sans-serif;
  border-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
